@primary-color: #fff;
@bg-color: #000;

.test-block {
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  margin: 20px auto;
  color: @primary-color;
  background: @bg-color;
}
